<div class="text-header">{{getResourceValue(metadataname+'_displayname')}}</div>
<div class="detailsMenu" *ngIf="showToolbar">
  <div class="msg-tips-left">
  </div>
</div>
<div class="page-content" id="page-content-wrapper" [ngClass]="{'sticky' : isSticky}">
  <div class="card-wrapper">
    <div class="card-block">
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_entityname")}}</div>
        <!-- <div class="text-label-preview margin-top-15">{{entityInfo.name}}</div> -->
        
        <span class="text-label-preview margin-left--5" ngbTooltip="{{entityInfo.name?.length>15?entityInfo.name:''}}"
          container="body">&nbsp;{{entityInfo.name | slice:0:15}}</span>
        <span *ngIf="entityInfo.name?.length>15">...</span>
      </div>
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_displayname")}}</div>
        <!-- <div class="text-label-preview margin-top-15">{{getResourceValue(metadataname+"_displayname")}}</div> -->
        <span class="text-label-preview margin-left--5" ngbTooltip="{{getResourceValue(metadataname+'_displayname').length>15?getResourceValue(metadataname+'_displayname'):''}}"
          container="body">&nbsp;{{getResourceValue(metadataname+"_displayname") | slice:0:15}}</span>
        <span *ngIf="getResourceValue(metadataname+'_displayname').length>15">...</span>
      </div>
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_displaynames")}}</div>
        <!-- <div class="text-label-preview margin-top-15">{{getResourceValue(metadataname+"_pluralname")}}</div> -->
        <span class="text-label-preview margin-left--5" ngbTooltip="{{getResourceValue(metadataname+'_pluralname').length>15?getResourceValue(metadataname+'_pluralname'):''}}"
          container="body">&nbsp;{{getResourceValue(metadataname+"_pluralname") | slice:0:15}}</span>
        <span *ngIf="getResourceValue(metadataname+'_pluralname').length>15">...</span>
      </div>
    </div>
    <div class="card-block">
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_workflowsupported")}}</div>
        <span class="text-label-preview">
          <span> {{entityInfo.supportWorkflow ? "Yes" : "No"}}</span>
        </span>
      </div>
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_import")}} </div>
        <span class="text-label-preview">
          <span> {{entityInfo.configurations && entityInfo.configurations.allowImpor ? "Yes": "No"}}</span>
        </span>
      </div>
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue('metadata_export')}}</div>
        <span class="text-label-preview">
          <span> {{entityInfo.configurations && entityInfo.configurations.allowExport ? "Yes" : "No"}}</span>
        </span>
      </div>
    </div>
    <div class="card-block">
      <div class="card-row">
        <div class="text-less-important">{{getResourceValue("metadata_type")}}</div>
        <span class="text-label-preview">{{entityInfo.type}}</span>
      </div>
      <div class="card-row">
        <div class="text-less-important">
          <span
            *ngIf="entityInfo.subtypes && entityInfo.subtypes.length > 1">{{getResourceValue("metadata_subtypes")}}</span>
          <span
            *ngIf="entityInfo.subtypes && entityInfo.subtypes.length == 1">{{getResourceValue("metadata_subtype")}}</span>
        </div>
        <span class="text-label-preview">{{entityInfo.subtypes}}</span>
      </div>
    </div>
  </div>
  <div class="tab-block">
    <div class="parent-tab">
      <nav mat-tab-nav-bar>
        <a class="mat-tab-item" mat-tab-link *ngFor="let link of navLinks" (click)="showToolbar=false"   [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{getResourceValue('metadata_'+link.label.toLowerCase())}}
        </a>
      </nav>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>