<div class="text-header">{{getResourceValue('BatchTypes')}}</div>

<button class="btn btn-primary" (click)="updateBatchItemNextRunTime();">{{getResourceValue('BatchRunNow')}}</button>

<div class="page-content">
  
  <div class="r-filter-page">
    <kendo-grid [kendoGridBinding]="gridDatas" [pageSize]="pageSize" [pageable]="true" [sortable]="true" [filterable]="true"
      [groupable]="true" [style.height.%]="100">
      <kendo-grid-column field="name" title="{{getResourceValue('common_field_name')}}">
        <ng-template kendoGridCellTemplate let-gridDatas>
          <a class="gridLink" (click)="openUpdatePopUp(gridDatas,addbatchtypes)">{{gridDatas.name}}</a>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="priority" title="{{getResourceValue('common_field_priority')}}"></kendo-grid-column>
      <kendo-grid-column field="idleTime" title="{{getResourceValue('common_field_idletime')}}"></kendo-grid-column>
      <kendo-grid-column field="runningType.name" title="{{getResourceValue('common_field_type')}}"></kendo-grid-column>


      <kendo-grid-column field="status" title="{{getResourceValue('common_field_status')}}">
        <ng-template kendoGridCellTemplate let-gridDatas>
          <span *ngIf="gridDatas.status">

            {{getResourceValue('common_field_active')}}
          </span>
          <span *ngIf="!gridDatas.status">

            {{getResourceValue('common_field_inactive')}}
          </span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-gridDatas>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="actions">
            <mat-icon>
              ...
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            <a class="dropdown-item" *ngIf="!gridDatas.status" (click)="addUpdateStatusBatch(gridDatas)">{{getResourceValue('common_field_active')}}</a>
            <a class="dropdown-item" *ngIf="gridDatas.status" (click)="updateStatus(gridDatas.batchTypeId)">{{getResourceValue('common_field_inactive')}}</a>
            <a class="dropdown-item" *ngIf="gridDatas.status && gridDatas.runningType.id===3"

              (click)="openScheduler(gridDatas.batchTypeId,addschedulers)">{{getResourceValue('common_field_scheduler')}}</a>
          </mat-menu>
        </ng-template>
      </kendo-grid-column>

    </kendo-grid>
  </div>
</div>

<ng-template #addbatchtypes let-c="close" let-d="dismiss">
  <div class="modal-header">
    <label>{{batchInfo.name}} {{getResourceValue('UpdateBatch')}}</label>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 form-group">
      <label  class="text-less-important">{{getResourceValue('common_field_name')}}</label>
      {{batchInfo.name}}
    </div>
    <div class="col-md-12 form-group">
      <label>{{getResourceValue('common_field_priority')}}</label>
      <input type="number" class="input-control" pattern="^[0-9]"  min="0" oninput="validity.valid||(value='');" [(ngModel)]="batchInfo.priority" name="priority" />
    </div>

    <div class="col-md-12 form-group">
      <label>{{getResourceValue('common_field_idletime')}}</label>
      <input type="number" class="input-control" pattern="^[0-9]"  min="0" oninput="validity.valid||(value='');" [(ngModel)]="batchInfo.idleTime" name="idleTime" />
    </div>

    <div class="col-md-12 form-group">
      <label>{{getResourceValue('ItemTimeout')}}</label>
      <input type="number" class="input-control" pattern="^[0-9]"  min="0" oninput="validity.valid||(value='');" [(ngModel)]="batchInfo.itemTimeout" name="itemTimeout" />
    </div>

    <div class="col-md-12 form-group">
      <label>{{getResourceValue('ItemRetryCount')}}</label>
      <input type="number" class="input-control" pattern="^[0-9]"  min="0" oninput="validity.valid||(value='');" [(ngModel)]="batchInfo.itemRetryCount" name="itemRetryCount" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="addUpdateBatch(batchInfo);">{{getResourceValue('common_field_update')}}</button>
        <button type="button" class="btn btn-secondary" (click)="closePopUp('cancel click')">{{getResourceValue('common_button_cancel')}}</button>
      </div>
  </div>

  
</ng-template>


<ng-template #addschedulers let-c="close" let-d="dismiss">
  <div class="modal-header">

    <label>{{getResourceValue('common_field_configurescheduler')}}</label>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-scheduler></app-scheduler>
  </div>

</ng-template>
