<!-- <div class="pages-wrap" *ngIf="menus && menus.length">
    <app-top-menu class="home_top_menu" [menus]="menus" [onlyLogin]="true" (groupClickEvent)="navigateUrl($event)">
    </app-top-menu> -->
    <div class="page-wrapper">
      <!-- <app-sidebar [menus]="menus" class="sidebar" [currentGroup]="currentGroup" [currentmenuId]="currentmenuId"
        (menuClickEvent)="nevigateChildren($event)"></app-sidebar> -->
      <div class="coming-soon">
        <h1>Coming soon...!</h1>
        <h2>OOPS! NOTHING WAS FOUND</h2>
        <p>Sorry for the inconvenience but we're performing some maintenance at the moment.</p>
      </div>
      
      <!-- <app-breadcrumb [segmenttree]="breadcum"></app-breadcrumb> -->
    <!-- </div> -->

