
    <div class="modal-header">
      <label>{{title}} {{'('+metaDataName+')'}}</label>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      
          <div class="form-group">
            <label>{{getResourceValue('metadata_field_name')}}</label>
            <input type="text" formControlName="layoutName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.layoutName.errors }" />
            <div *ngIf="submitted && f.layoutName.errors" class="invalid-feedback">
              <div *ngIf="f.layoutName.errors.required">{{getRequiredFieldMessageFromResource('metadata_field_name')}}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{getResourceValue('metadata_field_type')}}</label>
            <select class="form-control" formControlName="drpType" (change)="onTypeChange($event.target.value)"
              [ngClass]="{ 'is-invalid': submitted && f.drpType.errors }">
              <option *ngFor="let layoutType of layoutTypes" value={{layoutType.id}}>
                {{layoutType.name}}
              </option>
            </select>
            <div *ngIf="submitted && f.drpType.errors" class="invalid-feedback">
              <div *ngIf="f.drpType.errors.required">{{getRequiredFieldMessageFromResource('metadata_field_type')}}</div>
            </div>
          </div>
          <div class="form-group" *ngIf="showSubType">
            <label>{{getResourceValue('metadata_field_subtype')}}</label>
            <select class="form-control" formControlName="drpSubtype"
              [ngClass]="{ 'is-invalid': submitted && f.drpSubtype.errors }">
              <option *ngFor="let subType of subTypes" value={{subType.id}}>
                {{subType.name}}
              </option>
            </select>
            <div *ngIf="submitted && f.drpSubtype.errors" class="invalid-feedback">
              <div *ngIf="f.drpSubtype.errors.required">{{getRequiredFieldMessageFromResource('metadata_field_subtype')}}</div>
            </div>
          </div>
          <div class="form-group" *ngIf="showSubType">
            <label>{{getResourceValue('metadata_field_context')}}</label>
            <select class="form-control" formControlName="drpContext"
              [ngClass]="{ 'is-invalid': submitted && f.drpContext.errors }">
              <option *ngFor="let context of contexts" value={{context.id}}>
                {{context.name}}
              </option>
            </select>
            <div *ngIf="submitted && f.drpContext.errors" class="invalid-feedback">
              <div *ngIf="f.drpContext.errors.required">{{getRequiredFieldMessageFromResource('metadata_field_context')}}</div>
            </div>
          </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary">{{getResourceValue('operation_submit')}}</button>
          <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel click')">{{getResourceValue('task_cancel')}}</button>
         
        </div>
      </form>
    </div>
