*.suo
*.ide
/VPC.Entities/obj/Debug/netstandard2.0/*.cache
*.cache
*.props
*.targets
Debug
obj
*.dtbcache
*.lock
*.ide-shm
*.ide-wal
*.json
*.dll
*.pdb
*.txt
*.exe
/VPC.Client/ClientApp/package-lock.json
/.gitignore
/qry
/.vs/VPC/config/applicationhost.config
/VPC.Client/ClientApp/src/app/utility/cookie-typescript-utils.ts
