.lan-icon{
  width: 32px;
  height: 24px;
  background-image: url(../../assets/img/change-language.jpg);
  background-repeat: no-repeat;
  
}

.bandaid-icon{
  width: 16px;
  height: 16px;
  background-image: url(../../assets/img/bandaid.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 10px;
}
  