<div class="page-content">
  <div class="tab-child-item">
    <mat-tab-group>
      <mat-tab label="Fields">
        <div class="content-block" id="content-block-wrapper" [ngClass]="{'sticky' : isSticky}">
          <ngb-tabset class="c-left-tab">
            <ngb-tab *ngIf="this.entityDeatils!=null && this.entityDeatils.fields!=null">
              <ng-template ngbTabTitle>
                <span class="tab-title">{{getResourceValue("metadata_fields")}}</span>
              </ng-template>
              <ng-template ngbTabContent>
                <div *ngFor="let field of this.entityDeatils.fields" draggable="true" class="draggable"
                  [ngClass]="((this.selectedTreeNode!=null && this.selectedTreeNode.name==field.name) || field.draggedItem)?'dragg-on':'dragg-off'"
                  (dragstart)="fieldDragStartEvent(field)">
                  <div class="btn-item">
                    <span ngbTooltip="{{field.name.length>15?field.name:''}}" container="body">&nbsp;{{field.name | slice:0:15}}</span>
                    <span *ngIf="field.name.length>15">...</span>
                    <span class="text-mandatory" *ngIf="field.required">*</span>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="this.predefinedData!=null">
              <ng-template ngbTabTitle>
                <span class="tab-title">{{getResourceValue("metadata_layouts")}}</span>
              </ng-template>
              <ng-template ngbTabContent>
                <div *ngFor="let field of this.predefinedData"
                  [ngClass]="(this.selectedTreeNode!=null && this.selectedTreeNode.name==field.name)?'dragg-off':'dragg-off'"
                  draggable="true" class="draggable" (dragstart)="fieldDragStartEvent(field)">
                  <div class="btn-item">
                    <span ngbTooltip="{{field.name.length>15?field.name:''}}" container="body">&nbsp;{{field.name | slice:0:15}}</span>
                    <span *ngIf="field.name.length>15">...</span>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>


        <div class="fields-content">
          <div class="dynamic-wrapper">
            <div class="pnl-block">
              <div class="">
                <my-tree *ngIf="tree!=null"  [rootNode]="tree" [resource]="resource" [selectedNode]="selectedTreeNode"
                  (select)="handleSelection($event)" (drop)="handleDropEvent($event)" (close)="handleCloseEvent($event)"
                  (edit)="handleEditEvent($event)" (add)="handleAddEvent($event)" [entityName]="entityname">
                </my-tree>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Toolbar">
        <div class="component-layout">
          <div class="pnl-block">
            <div class="pnl-block-header">
              <label>{{getResourceValue("metadata_availablefields")}}</label>
            </div>
            <div class="pnl-block-body">
              <div class="tableStyle">
                <table class="table withoutborder margin-bottom-0">
                  <tbody>
                    <tr *ngFor="let item of toolbarSource">
                      <td (click)="mainItemClickEvent(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                        <div [className]="item.isAdded ? 'text-less-important' : 'text-important'">
                          {{item.name}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="pnlBtnLayout">
            <a class="btnListLayout margin-bottom-10" (click)="addItem()">
              <i class="fa fa-share"></i>
            </a>
            <a class="btnListLayout" (click)="removeItem()">
              <i class="fa fa-reply"></i>
            </a>
          </div>
          <div class="pnl-block">
            <div class="pnl-block-header">
              <label>{{getResourceValue("metadata_selectedfields")}}</label>
            </div>
            <div class="pnl-block-body">
              <div class="tableStyle">
                <table class="table withoutborder margin-bottom-0">
                  <tbody>
                    <tr *ngFor="let item of addedItemToMainList">
                      <td (click)="slectedItemClickEvent(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                        <div [className]="text-important">{{item.name}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="pnlBtnLayout">
            <a class="btnListLayout margin-bottom-10" (click)="upItem()">
              <i class="fa fa-share fa-rotate-270"></i>
            </a>
            <a class="btnListLayout" (click)="downItem()">
              <i class="fa fa-share fa-rotate-90"></i>
            </a>
          </div>
          <div class="pnl-block" *ngIf="displayToolbarItem">
            <div class="pnl-block-header">
              <label>{{getResourceValue("metadata_fieldconfiguration")}}</label>
            </div>
            <div class="pnl-block-body right-block">
              <div>
                <label>{{getResourceValue("metadata_field_group")}}</label>
                <select class="input-control" [(ngModel)]="toolbarGroup" (change)="onChangeEvent($event)">
                  <option value=""></option>
                  <option value="communication">Communication</option>
                  <option value="print">Print</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </mat-tab> -->
      <mat-tab label="{{getResourceValue('metadata_toolbar')}}">
        <app-metadataconfigurer [pageInfo]="pageInfo" *ngIf="pageInfo"></app-metadataconfigurer>
      </mat-tab>
      <mat-tab label="Details">
        <div class="margin-top-15">
          <div class="card-wrapper">
            <div class="card-block">
              <div class="card-row" style="grid-column: 1 / span 3;">
                <label>{{getResourceValue("metadata_field_layoutname")}}</label>
                <input type="text" [(ngModel)]="layoutInfo.name" class="input-control" />
              </div>
            </div>
            <div class="card-block">
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_field_entityname")}}</div>
                <div class="text-important margin-top-10">{{entityname}}</div>
              </div>
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_layouttype")}}</div>
                <div class="text-important margin-top-10">{{layoutInfo.layoutTypeName}}</div>
              </div>
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_field_context")}}</div>
                <div class="text-important margin-top-10">{{layoutInfo.contextName}}</div>
              </div>
            </div>
            <div class="card-block">
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_field_subtype")}}</div>
                <div class="text-important margin-top-10">{{layoutInfo.layoutTypeName}}</div>
              </div>
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_field_createdby")}}</div>
                <div class="text-important margin-top-10"></div>
              </div>
              <div class="card-row">
                <div class="text-less-important">{{getResourceValue("metadata_field_createddate")}}  </div>
                <div class="text-important margin-top-10">{{layoutInfo.modifiedDate | date:'dd/MM/yyyy'}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div>
    <a class="btn-float" ngbTooltip="{{getResourceValue('operation_save')}}" container="body" (click)="updateLayout()">
        <i class="fa fa-floppy-o"></i>{{getResourceValue("operation_save")}}
    </a>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{getResourceValue("metadata_addlayout")}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="layoutForm" (ngSubmit)="saveLayout()">
      
        <div class="form-group">
          <label for="layoutname">{{getResourceValue("metadata_field_name")}}</label>
          <input type="text" class="form-control" formControlName="layoutName" />
        </div>
        <!-- <div class="form-group">
              <label for="drpType">Type</label>
    
              <select class="form-control" formControlName="drpType"   (change)="onTypeChange($event.target.value)" >
                <option *ngFor="let layoutType of layoutTypes" value={{layoutType.id}}>
                  {{layoutType.name}}
                </option>
              </select> 
            </div>
            <div class="form-group"  *ngIf="showSubType">
              <label for="drpSubtype">Subtype</label> 
              <select class="form-control" formControlName="drpSubType" >
                <option *ngFor="let subType of subTypes" value={{subType.id}}>
                  {{subType.name}}
                </option>
              </select> 
            </div>
            <div class="form-group" *ngIf="showSubType">
              <label for="drpContext">Context</label>  
              <select class="form-control" formControlName="drpContext" >
                <option *ngFor="let context of contexts" value={{context.id}}>
                  {{context.name}}
                </option>
              </select> 
            </div>  -->
      
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveLayout('Save click')">{{getResourceValue("operation_save")}}</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">{{getResourceValue("task_cancel")}}</button>
    
    <!--(click)="modal.close('Save click')"-->
  </div>
</ng-template>
