.form-block{
    background-color: #fff;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 10px 0px;
}
.form-block-row{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px;
}



.fields-content{
    padding: 0px;
    min-height: 100vh;
}

