.container-login100 {
  /* position: absolute; */
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 100px auto;
  width: 450px;
  /* height: 600px; */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background: #fff;
}

.login100-form-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.full-width-input {
  width: 100%;
}

.loginWrapper{
  padding: 30px;
}

.btn {
  border: none !important;
  padding: 1rem 3.5rem;
  font-size: 1rem !important;
  color: #fff !important;
  border-radius: 0px;
}

.login100-form-title {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 20px;
}

.login100-form-title span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase; 
  
}

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #223946;
}

.input-checkbox100 {
  display: none;
}
.form-checkbox{
  margin-top: 20px;
}
.login{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.p-t-50{
  margin-top: 50px;
}
.link{
  color: #465294 !important;
    cursor: pointer !important;
    font-weight: 400;
    font-size: 0.8rem;
}
.link:hover{
  text-decoration: underline !important;
}

.label-checkbox100 {
  font-size: 14px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
  color: #57b846;
}

.remember{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.input-checkbox100:checked+.label-checkbox100::before {
  color: #465294;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


