<div *ngIf="(defaultLayout)" class="text-header">{{defaultLayout.pluralName}}</div>
<div class="detailsMenu" *ngIf="defaultLayout">
    <utility-top-bar [defaultLayoutData]="defaultLayout"></utility-top-bar>
    <right-search-bar (searchQueryEvent)='onSearchQueryEvent($event)' [defaultLayoutData]="defaultLayout"></right-search-bar>
</div>

<div class="page-content" *ngIf="defaultLayout">
    
    
    <div class="r-filter-page">
        <app-general-ui-list [displaysearchQueryString]="displaysearchQuery" [defaultLayoutData]="defaultLayout"></app-general-ui-list>
    </div>
</div>