<div class="container-login100">

  <div class="login100-form-title">
    <div class="login100-form-logo">
      <img src="assets/img/view-logo.svg" width="180" alt="view">
    </div>
    <span>{{getResourceValue('application_label_changepassword')}}</span>
  </div>
  <div class="loginWrapper">
    <mat-card-content>
      <div>
        <label class="text-less-important">{{getResourceValue('application_label_title_newpassword')}}</label>
        <label class="text-important text-bold margin-left-5" >{{userInfo.username}}</label>
      </div>
      <div class="" *ngIf="checkValidators()">
        <label class="text-less-important">{{getResourceValue('changepassword_validation_tilte')}}</label>
      </div>
      <ul *ngIf="passwordPolicyInfo" class="policy-wrapper">
        <li *ngIf="passwordPolicyInfo.isUppercase">
          <span [ngClass]="validationMessage('validationUppercase')">{{getResourceValue('changepassword_validation_uppercase')}}</span>
        </li>
        <li *ngIf="passwordPolicyInfo.isLowercase ">
          <span [ngClass]="validationMessage('validationLowercase')">{{getResourceValue('changepassword_validation_lowercase')}}</span>
        </li>
        <li *ngIf="passwordPolicyInfo.isNumber">
          <span [ngClass]="validationMessage('validationNumber')">{{getResourceValue('changepassword_validation_number')}}</span>
        </li>
        <li *ngIf="passwordPolicyInfo.isNonAlphaNumeric">
          <span
            [ngClass]="validationMessage('validationNonAlphaNumeric')">{{getResourceValue('changepassword_validation_nonalphanumeric')}}</span>
        </li>
        <li *ngIf="passwordPolicyInfo?.passwordLength>0">
          <span [ngClass]="validationMessage('validationMinLength')">{{passwordPolicyInfo?.passwordLength}}
            {{getResourceValue('changepassword_validation_characters')}}</span>
        </li>
      </ul>

      <form [formGroup]="changePassForm" (ngSubmit)="onsubmit()">

        <mat-form-field class="full-width-input">
          <input matInput formControlName="oldpass" type="password" (keyup)="validate()" autocomplete="current-password" placeholder="{{getResourceValue('changepassword_field_currentpassword')}}">
        </mat-form-field>
        <div *ngIf="formData.oldpass.invalid && (formData.oldpass.dirty || formData.oldpass.touched )"
          class="text-mandatory">

        </div>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="newpass" type="password" placeholder="{{getResourceValue('changepassword_field_newpassword')}}" autocomplete="new-password"
            [minlength]="passwordPolicyInfo?.passwordLength" (keyup)="validate()">
        </mat-form-field>
        <div *ngIf="formData.newpass.invalid && (formData.newpass.dirty || formData.newpass.touched ) "
          class="text-mandatory">
          {{checkOldPassVsNewPass()}}
        </div>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="newpassconfirm" type="password" placeholder="{{getResourceValue('changepassword_field_confirmpassword')}}"
            [minlength]="passwordPolicyInfo?.passwordLength" (keyup)="validate()">
        </mat-form-field>
        <div
          *ngIf="formData.newpassconfirm.invalid && (formData.newpassconfirm.dirty || formData.newpassconfirm.touched)"
          class="text-mandatory">
          <div *ngIf="formData.newpassconfirm.errors.notsame">
            {{getResourceValue('changepassword_validation_confirmPassword_notsame_message')}}
          </div>
        </div>
        <div class="login">
          <button class="btn btn-primary margin-right-15" type="submit">{{getResourceValue('operation_update')}}</button>
          <button class="btn btn-secondary" (click)="navigateBack()" type="button"> {{getResourceValue('task_cancel')}} </button>
        </div>
      </form>
      <label class="text-less-important margin-top-20" *ngIf="user?.passwordChangedOn && user?.isNew">
        {{getResourceValue('changepassword_label_lastchangedon')}}
        {{user?.passwordLastChangedOn | date:'dd/MM/yyyy hh:mm' }}
      </label>
    </mat-card-content>

  </div>
</div>
