<kendo-grid [kendoGridBinding]="gridData" [resizable]="true">
  <kendo-grid-column field="subTypeCode" title="Code"></kendo-grid-column>
  <ng-template kendoGridDetailTemplate let-dataItem>
    <ngb-tabset class="security-tab">
      <ngb-tab *ngFor="let step of dataItem.steps;">
        <ng-template ngbTabTitle>
          <span class="tab-title"> {{getResourceValue(entityName+'_workflow_step_'+step.name.toLowerCase())}}</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label>{{getResourceValue("metadata_workflow_label_step_activated")}}</label>              
                  <ng-multiselect-dropdown [placeholder]="getResourceValue('metadata_workflow_label_step_activated')" [data]="roleList"
                    [(ngModel)]="step.activatedList" [settings]="dropdownSettings" class="custom-multi-select"
                    (onDeSelect)="deleteWorkFlowRoleSecurity(step.workFlowStepId,1,step.workFlowId,$event)"
                    (onSelect)="addWorkFlowRoleSecurity(step.workFlowStepId,1,step.workFlowId,$event);">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-md-12 form-group">
                  <label> {{getResourceValue("metadata_workflow_label_step_accessed")}} </label>
                  <ng-multiselect-dropdown [placeholder]="getResourceValue('metadata_workflow_label_step_accessed')" [data]="roleList" [(ngModel)]="step.accessedList"
                    [settings]="dropdownSettings" class="custom-multi-select"
                    (onDeSelect)="deleteWorkFlowRoleSecurity(step.workFlowStepId,2,step.workFlowId,$event)"
                    (onSelect)="addWorkFlowRoleSecurity(step.workFlowStepId,2,step.workFlowId,$event);">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-md-12 form-group">
                  <label class="control control--checkbox">
                     {{getResourceValue("metadata_workflow_label_required_assignment")}}
                    <input type="checkbox" [(ngModel)]="step.isAssigmentMandatory"
                      (change)="onAssignemntMandatoryEvent(step)">
                    <span class="control__indicator"></span>
                  </label>
                  <ng-multiselect-dropdown [placeholder]="getResourceValue('metadata_workflow_label_step_assignment')" [data]="roleList"
                    [(ngModel)]="step.assignedList" [settings]="dropdownSettings" class="custom-multi-select"
                    (onDeSelect)="deleteWorkFlowRoleSecurity(step.workFlowStepId,3,step.workFlowId,$event)"
                    (onSelect)="addWorkFlowRoleSecurity(step.workFlowStepId,3,step.workFlowId,$event);">
                  </ng-multiselect-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <label>
                 {{getResourceValue("metadata_workflow_label_performance")}}
              </label>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <label>   {{getResourceValue("metadata_workflow_label_allottime")}} </label>
                  <input type="number" class="input-control" min="0" placeholder="{{getResourceValue('metadata_workflow_label_allottime')}}"
                    [(ngModel)]="step.allotedTime" (change)="onAssignemntMandatoryEvent(step)" name="allotedTime" />
                </div>
                <div class="col-md-6 col-xs-6">
                  <label> {{getResourceValue("metadata_workflow_label_criticaltime")}} </label>
                  <input type="number" class="input-control" min="0" placeholder="{{getResourceValue('metadata_workflow_label_criticaltime')}}"
                    [(ngModel)]="step.criticalTime" (change)="onAssignemntMandatoryEvent(step)" name="criticalTime" />
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </ng-template>
</kendo-grid>