<div class="page-content">

  <div class="card-block">
    <div class="card-row">
      <label>{{getResourceValue("LayoutName")}}</label>
      <input type="text" [(ngModel)]="layoutInfo.name" class="input-control" />
    </div>
    <div class="card-row">
      <div class="text-less-important">{{getResourceValue("LayoutType")}}</div>
      <div class="text-important margin-top-10">{{layoutInfo.layoutTypeName}}</div>
    </div>
    <div class="card-row" *ngIf="defaultLayout">
      <div class="text-less-important">{{getResourceValue("DefaultLayout")}}</div>
      <div class="text-important margin-top-10">{{getResourceValue("Yes")}}</div>
    </div>
  </div>
  <div class="tab-block">
    <div class="margin-top-10" *ngIf="layoutInfo.name">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <a class="btn-float" ngbTooltip="{{getResourceValue('Save')}}" container="body" (click)="updateLayoutDetails()">
        <i class="fa fa-floppy-o"></i>Save
  </a>
    <!-- <a class="btn-float margin-right-75" ngbTooltip="Preview" container="body" (click)="listPreviewPage()">
        <i class="fa fa-eye my-float"></i>
    </a> -->
  </div>
</div>