
<div class="msg-tips-left">
  <div *ngFor="let toolbarButton of this.toolbarButtons">
    <div *ngIf="!toolbarButton.group">
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}" container="body" *ngIf="toolbarButton.name==='Create'"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-plus"></i> {{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}
      </div>
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}" container="body" *ngIf="toolbarButton.name==='Edit'"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-pencil-square-o"></i>{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}
      </div>
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}" container="body" *ngIf="toolbarButton.name==='Update'"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-save"></i>{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}
      </div>
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}" container="body" *ngIf="toolbarButton.name==='Save'"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-save"></i>{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}
      </div>
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}" container="body"
        *ngIf="toolbarButton.name!=='Create' && toolbarButton.name!=='Edit' && toolbarButton.name!=='Update' && toolbarButton.name!=='Save' && (toolbarButton.hasOwnProperty('type')===false)"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-check-square-o"></i>{{getResourceValue('operation_'+toolbarButton.name.toLowerCase())}}
      </div>
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('task_'+toolbarButton.name.toLowerCase())}}" container="body"
        *ngIf="toolbarButton.name!=='Create' && toolbarButton.name!=='Edit' && toolbarButton.name!=='Update' && toolbarButton.name!=='Save' && (toolbarButton.hasOwnProperty('type') && toolbarButton.type==='task' && taskProductVersionButton)"
        (click)="toolbarButtonOperation(toolbarButton, updaterolecontent)">
        <i class="fa fa-check-square-o"></i>{{getResourceValue('task_'+toolbarButton.name.toLowerCase())}}
      </div>
    </div>
  </div>
  <!-- <div class="msg-drp" *ngIf="this.possiblesteps?.length > 0"> -->
  <div class="msg-drp" *ngIf="possiblesteps?.length > 0">
    <div ngbDropdown class="">
      <a ngbDropdownToggle>{{getResourceValue('metadata_task_sendto')}}</a>

      <div ngbDropdownMenu class="d-text">
        <a (click)="onToolBarWorkFlowClick(possiblestep)"
          *ngFor="let possiblestep of possiblesteps">{{possiblestep.nextTransitionName}}</a>
      </div>
    </div>
  </div>
  <!-- <div class="msg-drp" *ngIf="this.sendToButtons?.length > 0"> -->
  <div class="msg-drp" *ngIf="sendToButtons?.length > 0">
    <div ngbDropdown class="">
      <a ngbDropdownToggle>{{getResourceValue('operation_communication')}}</a>
      <div ngbDropdownMenu class="d-text">
        <a (click)="toolbarButtonOperation(button)" *ngFor="let button of sendToButtons">{{getResourceValue('task_'+button.name.toLowerCase())}}</a>
      </div>
    </div>
  </div>
  <!-- <div class="msg-drp" *ngIf="this.printButtons?.length > 0"> -->
  <div class="msg-drp" *ngIf="printButtons?.length > 0">
    <div ngbDropdown class="">
      <a ngbDropdownToggle>{{getResourceValue('task_print')}}</a>
      <div ngbDropdownMenu class="d-text">
        <a (click)="toolbarButtonOperation(button)" *ngFor="let button of printButtons">{{getResourceValue('task_'+button.name.toLowerCase())}}</a>
      </div>
    </div>
  </div>
</div>

<ng-template #contentExchange let-modal>
  <div class="modal-header">
    <label class="text-important">{{getResourceValue("metadata_dropdownoption_subtype")}}</label>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="navigate()">
     
        <div class="form-group">
          <label for="drpType">{{getResourceValue(entityName.toLowerCase()+'_field_subtype')}}</label>
          <select class="input-control" (change)="onSubTypeChange($event.target.value)">
            <option *ngFor="let subtype of subTypes" value={{subtype.name}}>
              {{subtype.name}}
            </option>
          </select>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="navigate('Save click')">{{getResourceValue("task_continue")}}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #updaterolecontent let-modal>
  <div class="modal-header">
    <label id="modal-title">{{getResourceValue("metadata_label_validationfaild")}}</label>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
      <div class="col-md-12 form-group">
        <label>
          <ul class="bullet-point">
            <!-- <li *ngFor="let validateMessage of validateMessages">{{resource[generateResourceName(validateMessage)]}} is required.</li> -->
              <li *ngFor="let validateMessage of validateMessages">{{validateMessage}}</li>
          </ul>
        </label>
      </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">{{getResourceValue("task_cancel")}}</button>
    </div>
  </div>
</ng-template>