<div class="text-header">{{getResourceValue("role_pluralname")}}</div>
<div class="detailsMenu">
  <div class="msg-tips-left">
    <div class="msg-entrance" ngbTooltip="{{getResourceValue('role_operation_create')}}" container="body" (click)="open(addrolecontent)">
      <i class="fa fa-plus"></i>{{getResourceValue("operation_create")}}
    </div>
  </div>
</div>
<div class="page-content">    
  <div class="r-filter-page">
    <kendo-grid [kendoGridBinding]="gridRoleData" [pageSize]="10" [pageable]="true" [sortable]="true"
      [filterable]="true" [groupable]="true" [style.height.%]="100">
      <kendo-grid-column field="name" title="{{getResourceValue('role_field_name')}}" [width]="140">
        <ng-template kendoGridCellTemplate let-gridRoleData>
          <a class="gridLink" (click)="goToRoleDetail(gridRoleData)">{{gridRoleData.name}}</a>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="roleTypeName" title="{{getResourceValue('role_field_type')}}" [width]="40">
        <ng-template kendoGridCellTemplate let-gridRoleData>
          {{gridRoleData.roleTypeName}}
        </ng-template>
      </kendo-grid-column>

    </kendo-grid>
  </div>
</div>


<!--  -->

<ng-template #addrolecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <label>{{getResourceValue("role_label_add")}} </label>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12 form-group">
            <label>{{getResourceValue("role_field_name")}}</label>
            <input type="text" class="input-control" [(ngModel)]="roleInfo.name" name="name" />
          </div>
          <div class="col-md-12 form-group">
            <label>{{getResourceValue("role_field_type")}}</label>
            <select class="input-control" placeholder="Type" [(ngModel)]="roleInfo.roleType" name="roleType">
              <option *ngFor="let roleType of roleTypes" value={{roleType.id}}>
                {{roleType.name}}
              </option>
            </select>
          </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addRole()">{{getResourceValue("operation_update")}}</button>
      <button type="button" class="btn btn-secondary" (click)="d('Cross click')">{{getResourceValue('task_cancel')}}</button>
       
      </div>
  </div>
  
</ng-template>
