<div class="text-header">{{getResourceValue("menuitem_pluralname")}}</div>
<div class="detailsMenu">
  <div class="msg-tips-left">
    <div class="msg-entrance" (click)="addMenuPopup(menu)" ngbTooltip="{{getResourceValue('menuitem_operation_create')}}"
         container="body">
      <i class="fa fa-plus"></i>{{getResourceValue("menuitem_operation_create")}}
    </div>
    <div class="msg-entrance" (click)="addMenuGroupPopup(menuGroup)" ngbTooltip="{{getResourceValue('menuitem_task_createapplicationgroup')}}"
         container="body">
      <i class="fa fa-th"></i>{{getResourceValue("menuitem_task_createapplicationgroup")}}
    </div>
  </div>
</div>
<div class="page-content">

  <kendo-grid [kendoGridBinding]="gridData" [filterable]="true" [pageSize]="10" [pageable]="true" [sortable]="true" [groupable]="true"
              [resizable]="true">
    <kendo-grid-column field="groupName" title="{{getResourceValue('menuitem_field_applicationgroup')}}"></kendo-grid-column>
    <kendo-grid-column field="name" title="{{getResourceValue('menuitem_field_name')}}">
      <ng-template kendoGridCellTemplate let-gridData>
        <a class="gridLink" (click)="editMenuPopup(menu, gridData.id)">{{gridData.name}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="menuTypeName" title="{{getResourceValue('menuitem_field_type')}}"></kendo-grid-column>
    <kendo-grid-column field="referenceEntityId" title="{{getResourceValue('menuitem_field_entityreference')}}"></kendo-grid-column>
    <kendo-grid-column field="actionTypeName" title="{{getResourceValue('menuitem_field_actiontype')}}"></kendo-grid-column>
    <kendo-grid-column field="wellKnownLink" title="{{getResourceValue('menuitem_field_path')}}"></kendo-grid-column>
    <!-- <kendo-grid-column field="parentId" title="{{getResourceValue('menu_item_parent')}}"></kendo-grid-column> -->
    <kendo-grid-column>
      <ng-template kendoPagerTemplate kendoGridCellTemplate let-gridData let-rowIndex="rowIndex">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="actions">
          <mat-icon>
            ...
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a *ngIf="rowIndex>0" class="dropdown-item"
             (click)="moveUpAndDown(gridData,rowIndex,rowIndex-1)">{{getResourceValue("menuitem_task_moveup")}}</a>
          <a *ngIf="(rowIndex<lastRowIndex-1)" class="dropdown-item"
             (click)="moveUpAndDown(gridData,rowIndex,rowIndex+1)">{{getResourceValue("menuitem_task_movedown")}}</a>
          <a class="dropdown-item" (click)="deleteMenu(gridData)">{{getResourceValue("menuitem_operation_delete")}}</a>
        </mat-menu>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<!-- ----------------Add Menu Popup----------------- -->
<ng-template #menu let-modal>
  <div class="modal-header">
    <label>{{addMenuLabel}}</label>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_menugroup")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select class="input-control" [(ngModel)]="menugroupId" (ngModelChange)="onGroupChange($event)">
            <option *ngFor="let vals of menuGroupList" [ngValue]="vals.id">{{vals.name}}</option>
          </select>
        </div>
      </div>
      
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_subgroup")}}</label><label
            class="text-mandatory margin-left-3">*</label>
          <select class="input-control" [(ngModel)]="menuSubgroupId">
            <option [ngValue]="null"></option>
            <option *ngFor="let item of menuSubGroupList" [ngValue]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_name")}}</label><label class="text-mandatory margin-left-3">*</label>
          <input type="text" [(ngModel)]="menuItemName" class="input-control">
        </div>
      </div>
 <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>{{getResourceValue("menuitem_field_menucode")}}</label><label class="text-mandatory margin-left-3"></label>
                    <label> {{menucode}}</label>
                </div>
            </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_type")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select [(ngModel)]="menuTypeId" (ngModelChange)="onMenuTypeChange($event)" class='input-control'>
            <option value="1">Entity</option>
            <option value="2">Picklist</option>
            <option value="3">Context</option>
            <option value="4">WellKnown</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12"
        *ngIf="menuTypeId===1||menuTypeId===2">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_entityreference")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select [(ngModel)]="referenceEntityId" (ngModelChange)="onReferenceEntityChange($event)"
            class='input-control'>
            <option *ngFor="let vals of referenceEntity" value="{{vals.name}}">{{vals.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12"
        *ngIf="menuTypeId===3">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_actiontype")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select class="input-control" [(ngModel)]="actionTypeId">
            <option [ngValue]="1">EntityListLayout</option>
            <option [ngValue]="2">EntityMetadata</option>
            <option [ngValue]="3">PicklistMetadata</option>
            <option [ngValue]="4">WorkflowDesigner</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12"
        *ngIf="menuTypeId===4">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_wellknown")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select class="input-control" [(ngModel)]="wellKnownLink">
            <option value="menu-item">MenuItem</option>
            <option value="subscriptions">Subscription</option>
            <option value="roles">Roles</option>
            <option value="resource">Resource</option>
            <option value="communication">Communication</option>
            <!-- <option value="batchTypes">BatchTypes</option> -->
            <option value="counter">Counter</option>
             <option value="menuGroup">MenuGroup</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12"
        *ngIf="menuTypeId===1||menuTypeId===2">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_layout")}}</label><label class="text-mandatory margin-left-3">*</label>
          <select class="input-control" [(ngModel)]="layoutId" autocomplete="off">
            <option *ngFor="let vals of layoutlist" [ngValue]="vals.id" [selected]="vals.id===layoutId">{{vals.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_sequence")}}</label><label
            class="text-mandatory margin-left-3"></label>
          <input type="number" [(ngModel)]="menuItemSort" class="input-control">
        </div>
      </div>
      <!-- <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{getResourceValue("menuitem_field_icon") }}</label>
          <select class="input-control fontawesome-select" [(ngModel)]="ItemIcon">
              <option value='fa fa-user-circle'>&#xf2bd; User</option>


              <option value='fa fa-university'>&#xf19c; University</option>
              <option value='fa fa-bars'>&#xf0c9; Bar</option>
              <option value='fa fa-calendar'>&#xf073; Calendar</option>
              <option value='fa fa-cogs'>&#xf085; Cogs</option>
              <option value='fa fa-database'>&#xf1c0; Database</option>
          </select>
        </div>
      </div> -->
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="saveMenu()">{{editUpdate}}</button>
      <button type="button" class="btn btn-secondary"
              (click)="modal.dismiss('cancel click')">{{getResourceValue("task_cancel")}}
      </button>
      <!-- <button class="btn btn-primary">Save and add another</button> -->
     
    </div>
  </div>
</ng-template>


<!-- ----------------Add Menu Group Popup----------------- -->
<ng-template #menuGroup let-modal>
  <div class="modal-header">
    <label>{{getResourceValue("applicationgroup_label_add")}}</label>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="menuGroupForm" (ngSubmit)="submitForm()">
      <div class="container">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="groupName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.groupName.errors }" />
          <div *ngIf="submitted && f.groupName.errors" class="invalid-feedback">
            <div *ngIf="f.groupName.errors.required">Group name is required</div>
          </div>
        </div>
      </div> 
    </form> -->
    <div class="page-content" style="padding:0px; overflow:hidden;">
      <my-tree [rootNode]="tree" [mode]="1" [displayRule]="displayRule" [resource]="resource" *ngIf="isTreeReady"
        class="detail-entity-modal" [entityName]="entityName">
      </my-tree>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="savePicklistValue()">{{getResourceValue("operation_save")}}</button>
      <button type="button" class="btn btn-secondary"
              (click)="modal.dismiss('cancel click')">
        {{getResourceValue("task_cancel")}}
      </button>
      <!-- <button class="btn btn-primary">Save and add another</button> -->
      
    </div>
  </div>

</ng-template>
