<div class="tab-section">
<kendo-grid [kendoGridBinding]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true" [filterable]="true"
   [style.height.%]="100">
  <kendo-grid-column field="name" title="{{getResourceValue('metadata_entityname')}}" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="DisplayName" title="{{getResourceValue('metadata_displayname')}}" [width]="140">
    <ng-template kendoGridCellTemplate let-gridData>
      <span>{{gridData.name}}</span>
      <span *ngIf="getRequired(gridData.validators)" class="text-mandatory margin-left-3">*</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="dataType" title="{{getResourceValue('metadata_datatype')}}" [width]="120">
  </kendo-grid-column>
  <kendo-grid-column field="controlType" title="{{getResourceValue('metadata_controltype')}}" [width]="100">
  </kendo-grid-column>
  <!-- <kendo-grid-column [width]="25">
    <ng-template kendoGridCellTemplate let-gridData>
      <label *ngIf="getRequired(gridData.validators)" class="text-danger">
        <span><i class="fa fa-asterisk"></i></span>
      </label>
    </ng-template>
  </kendo-grid-column> -->
  <kendo-grid-column [width]="100">
    <ng-template kendoGridCellTemplate let-gridData>
      <!-- <div ngbDropdown class="grdDropdown pull-right" *ngIf="gridData.validators">
        <a ngbDropdownToggle>Actions</a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" (click)="validationRule('validationModal')">Validation rule</a>
        </div>
      </div> -->
      <button mat-icon-button [matMenuTriggerFor]="menu" class="actions" *ngIf="gridData.validators">
        <mat-icon>
          ...
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a class="dropdown-item" (click)="validationRule('validationModal')">
          {{getResourceValue("metadata_validationrule")}}
        </a>
      </mat-menu>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
</div>