<div class="container-login100">
  <div class="login100-form-title">
    <div class="login100-form-logo">
      <img src="assets/img/view-logo.svg" width="180" alt="view">
    </div>
    <span>Forgot password</span>
  </div>
  <div class="loginWrapper">
    <mat-card-content>
      <form [formGroup]="changePassForm" (ngSubmit)="onsubmit()">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="tenantcode" placeholder="Workspace" autocomplete="organization-title">
        </mat-form-field>
        <div *ngIf="formData.tenantcode.invalid && (formData.tenantcode.dirty || formData.tenantcode.touched || submitClicked)">
        </div>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="username" placeholder="Username" autocomplete="username">
        </mat-form-field>
        <div *ngIf="formData.username.invalid && (formData.username.dirty || formData.username.touched || submitClicked)">
        </div>
        <div class="login">
          <button class="btn btn-primary margin-right-15" type="submit" >Reset
            password</button>
          <button class="btn btn-secondary" (click)="navigateBack()" type="submit"> Cancel </button>
        </div>
      </form>
    </mat-card-content>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
</div>
<!-- <div *ngIf="IsPasswordChanged" style="text-align:center;">
  Please check inbox....
</div> -->