<div class="component-layout">
  <div class="pnl-block">
    <div class="pnl-block-header">
        <label>{{getResourceValue("metadata_availablefields")}}</label>
        <div class="list-search-block">
          <div class="margin-right-10">
              <input type="text" class="list-search" [(ngModel)]="searchText" />
          </div>
          <div class="search-filter"></div> 
          <div class="reset-filter" *ngIf="(searchText!='' && searchText!=undefined) " (click)="resetAvailableFilter()"></div>    
        </div> 
    </div>
    <div class="pnl-block-body">
      <div class="tableStyle">
        <table class="table withoutborder margin-bottom-0">
          <tbody>
            <tr *ngFor="let item of actionSource | filter : searchText">
              <td (click)="mainItemClickEvent(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                <div [className]="item.isAdded ? 'text-less-important line-through' : 'text-less-important'">{{item.name}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pnlBtnLayout">
    <a class="btnListLayout margin-bottom-10" (click)="addItem()">
      <i class="fa fa-share"></i>
    </a>
    <a class="btnListLayout" (click)="removeItem()">
      <i class="fa fa-reply"></i>
    </a>
  </div>
  <div class="pnl-block">
    <div class="pnl-block-header">
        <label>{{getResourceValue("metadata_selectedfields")}}</label>
        <div class="list-search-block">
          <div class="margin-right-10">
              <input type="text" class="list-search" [(ngModel)]="addedItemToMainList.name" />
          </div>
          <div class="search-filter"></div> 
          <div class="reset-filter" *ngIf="(addedItemToMainList.name!='' && addedItemToMainList.name!=undefined)" (click)="resetItemFilter()"></div>    
        </div> 
    </div>
    <div class="pnl-block-body">
      <div class="tableStyle">
        <table class="table withoutborder margin-bottom-0">
          <tbody>
            <tr *ngFor="let item of addedItemToMainList | filter : addedItemToMainList.name">
              <td (click)="slectedItemClickEvent(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                <div class="text-less-important">{{item.name}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pnlBtnLayout">
    <a class="btnListLayout margin-bottom-10" (click)="upItem()">
      <i class="fa fa-share fa-rotate-270"></i>
    </a>
    <a class="btnListLayout" (click)="downItem()">
      <i class="fa fa-share fa-rotate-90"></i>
    </a>
  </div>
</div>