<!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->


<button class="config-switch" (click)="configToggle()" *ngIf="authService.isLoggedIn">
    <!-- <button class="config-switch" (click)="configToggle()"> -->
    <i class="fa fa-dedent fa-fw pnl-close" *ngIf="!isConfigToggle"></i>
    <i class="fa fa-indent fa-fw pnl-open" *ngIf="isConfigToggle"></i>
</button>

<div class="left-config-wrap" [ngClass]="{'left-config-wrap-on':isConfigToggle}" *ngIf="authService.isLoggedIn">
    <!-- <div class="left-config-wrap" [ngClass]="{'left-config-wrap-on':isConfigToggle}"> -->
    <ul class="menu-wrap animated fadeIn">
        <li class="menu-item" *ngIf="currentGroup && currentGroup.groupName">
            <a class="menu-link" (click)="menuToggle()">
                <div class="placeholder">
                    <i class="fa fa-cogs"></i>
                </div>
                <span class="text">{{currentGroup.groupName}}</span>
                <div class="menu-icon">
                    <i class="fa fa-angle-right" *ngIf="!isMenuopen"></i>
                    <i class="fa fa-angle-up" *ngIf="isMenuopen"></i>
                </div>
            </a>
            <div class="collapse-menu" [ngClass]="{'collapse-menu-on':isMenuopen}">
                <ul class="child-menu">
                    <ng-container *ngFor="let item of menus">
                        <li [ngClass]="{'active': (item.name==menuItemName), 'child-item': true}"
                            *ngIf="item.groupName==currentGroup.groupName">
                            <a (click)="navigateUrl(item)" class="child-item-link">
                                <div class="placeholder"></div>
                                <span class="text">{{item.name}}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </li>
    </ul>

    <!-- <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToMenuItem()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">Menu item</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToBatchType()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">BatchType</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToCommunication()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">Communication</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToEmail()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">Email</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToSms()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">SMS</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToEmailTemplate()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">Email Template</span>
                </a>
            </li>
        </ul>
    
        <ul class="menu-wrap animated fadeIn">
            <li class="menu-item">
                <a class="menu-link" (click)="goToSmsTemplate()">
                    <div class="placeholder">
                        <i class="fa fa-link"></i>
                    </div>
                    <span class="text">SMS Template</span>
                </a>
            </li>
        </ul> -->
</div>



<!-- <app-sidebar [menu]="leftmenuItems" [groupName]="group" [isMenuopen]="isMenuopen"></app-sidebar> -->
<!-- <app-sidebar [menus]="menus" [currentMenu]="currentMenu"></app-sidebar> -->