<!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
<button class="config-switch" (click)="configToggle()" *ngIf="authService.isLoggedIn">
    <!-- <button class="config-switch" (click)="configToggle()"> -->
    <i class="fa fa-dedent fa-lg pnl-close" *ngIf="!isConfigToggle"></i>
    <i class="fa fa-indent fa-lg pnl-open" *ngIf="isConfigToggle"></i>
</button>

<div class="left-config-wrap" [ngClass]="{'left-config-wrap-on':isConfigToggle}" *ngIf="authService.isLoggedIn">
    
<div *ngIf="currentGroup && currentGroup.groupName">
    <ul class="menu-wrap animated fadeIn">
          <ng-container *ngFor="let items of sidebarmenu">
            <li class="menu-item" >
        <div *ngIf="items.subGroup!=null && items.subGroup.length>0">
             <a class="menu-link" (click)="menuToggle(items)">
                <div class="placeholder">
                    <i class="{{(items.menuIcon!='' && items.menuIcon!=null && items.menuIcon!=undefined)?items.menuIcon:'fa fa-th'}}"></i>
                </div>
                <span class="text">
                    <!-- {{items.name}} -->
                    {{getResourceValue(items.menucode)}}
                </span>
                <div class="menu-icon">
                    <i class="fa fa-angle-right" *ngIf="items.name!=currentmenuName"></i>
                    <i class="fa fa-angle-up" *ngIf="items.name==currentmenuName"></i>
                </div>
               </a>
        </div>
        <!-- <ng-template #else_content>
             <a (click)="navigateUrl(items)" class="child-item-link">
                                <div class="placeholder"></div>
                                <span class="text">{{items.name}}</span>
             </a>
        </ng-template> -->
             
      
            <div [ngClass]="(items.name==currentmenuName) ? 'collapse-menu-on' : 'collapse-menu'">
                <ul class="child-menu" *ngIf="items.subGroup!=null && items.subGroup.length>0">
                    <ng-container *ngFor="let item of items.subGroup">
                        <li [ngClass]="{'active': (item.name==menuItemName), 'child-item': true}">
                            <a (click)="navigateUrl(item,items.name)" class="child-item-link">
                                <div class="placeholder"></div>
                                <span class="text">
                                    <!-- {{item.name}} -->
                                    {{getResourceValue(item.menucode)}}
                                </span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </li>
        </ng-container>
    </ul>
    </div>
  
</div>



<!-- <app-sidebar [menu]="leftmenuItems" [groupName]="group" [isMenuopen]="isMenuopen"></app-sidebar> -->
<!-- <app-sidebar [menus]="menus" [currentMenu]="currentMenu"></app-sidebar> -->