<div class="detailsMenu">
    <div class="msg-tips-left">
      <div class="msg-entrance" ngbTooltip="{{getResourceValue('user_operation_update')}}" container="body" (click)="updateMetaDataValues()">
        
          <span class="fa fa-save"></span>
        
      </div>
    </div>
  </div>
  
  <div class="page-content">
        <my-tree 
   
      [rootNode]="tree" 
      [mode]="1" 
      [resource]="resource"
      [displayRule]="displayRule"
      [entityName]="entityName"
      *ngIf="isTreeReady" class="detail-view">
      </my-tree>
  </div>
  


