.breadcrumb {
    background: 0 0;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 22px;
    left: 246px;
    font-size: 0.8rem;
}

.breadcrumb li {
    color: #ffffff;
    line-height: normal;
    max-width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.default{
    cursor: not-allowed;
    color:#fff;
}

.clickable{
    color:#b9d5f5 !important;
}

.clickable:hover{
    text-decoration: underline !important;
}


.breadcrumb li span{
    color:#fff;
    font-size: 0.9rem;
    font-weight: 500;
}


.breadcrumb > li + li:before {
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    color: #fff;
    content: "\00a0 \003E";
    padding-left: .3rem;
    padding-right: .5rem;
    z-index: 10
}

.breadcrumb-subdued.breadcrumb-container {
    background: 0 0;
    padding: 0;
    margin-bottom: 0
}

.breadcrumb-subdued.breadcrumb-container .breadcrumb {
    padding: 1.25rem 0
}

.breadcrumb-subdued.breadcrumb-fluid .container {
    width: 100% !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important
}
