<ul class="breadcrumb">
    <li *ngFor="let bcItem of segmenttree; let $index = index; let $last = last" title="{{getResourceByKey(bcItem.labelName)}}">
        <a *ngIf="($index==0)" [ngClass]="{'active': true}"
                    (click)="openPageWithBreadcrumb(bcItem)">{{getResourceByKey(bcItem.labelName)}}</a>
        <span *ngIf="!$last && ($index==1)" [ngClass]="{'inactive': !$last}"
            >{{getResourceByKey(bcItem.labelName)}}</span>
        <a *ngIf="!$last && ($index>1)" [ngClass]="{'active': !$last}"
            (click)="openPageWithBreadcrumb(bcItem)">{{getResourceByKey(bcItem.labelName)}}</a>
        <span *ngIf="$last && !bcItem.isActive">{{getResourceByKey(bcItem.labelName)}}</span>
        <a *ngIf="$last && bcItem.isActive" [ngClass]="{'active': bcItem.isActive}" (click)="openPageWithBreadcrumb(bcItem)">{{getResourceByKey(bcItem.labelName)}}</a>
    </li>
    <!-- <div class="active" [(ngModel)]="commonService.displayName4Breadcrumb">{{commonService.displayName4Breadcrumb}}</div> -->
</ul>