/*
:host {
	display: block ;
}

.label {
	border-radius: 9px 9px 9px 9px ;
	color: red ;
	cursor: pointer ;
	display: inline-block ;
	padding: 0px 6px 0px 6px ;
	text-decoration: underline ;
}

.children {
	border-left: 3px solid #CCCCCC ;
	margin: 5px 0px 5px 30px ;
	padding-left: 10px ;
}

:host( .selected ) {
	> .label {
		background-color: darkslateblue ;
		color: white ;
		cursor: default ;
		font-weight: bold ;
		text-decoration: none ;
	}
}
*/
.dragover{
	/* background-color: aqua !important; */
	/* height: 10px;
	width: 100%; */
	border-top: 6px solid #ee8e20;
	margin-top: -6px;
	
}

.bar {
	/* width: 100%;
	height: 6px;
	/* border: 1px solid #6ce93b;
	border-radius: 3px; */
	/*background-image: 
	  repeating-linear-gradient(
		-45deg,
		#6ce93b,
		#6ce93b 11px,
		rgb(225, 251, 177) 10px,
		rgb(225, 251, 177) 20px 
	  );
	background-size: 12px 12px;
	animation: move-bar 0.5s linear infinite;
	margin-top: -6px; */
  }
  
  @keyframes move-bar {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: 12px 0;
	}
  }

  .drag-zone:hover{
	border-top: 6px solid #ee8e20;
	margin-top: -6px;
  }

  .drag-zone{
	border-top: 6px solid #ee8e20;
	margin-top: -6px;
  }