<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <label>{{getResourceValue("operation_delete")}}</label>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="delete-icon">
        ×
    </div>

<h2>{{getResourceValue("common_message_areyousure")}}</h2>
  <p>{{getResourceValue("common_message_delete_confirmation")}}<br>{{getResourceValue("common_message_undone")}}</p>






    <div class="modal-footer">
      <button class="btn btn-primary"
        (click)="closeModalAfterConfirmDelete()">{{getResourceValue("common_message_yesdeleteit")}}</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        {{getResourceValue("task_cancel")}}
      </button>

    </div>
  </div>


</ng-template>