<div class="component-layout">
  <div class="pnl-block">
    <div class="pnl-block-header">
      <label>{{getResourceValue("AvailableFields")}}</label>
      <div class="c-search">
        <div class="c-search-wrapper">
          <span class="icon">
            <i class="fa fa-search"></i>
          </span>
          <input type="search" id="search" placeholder="{{getResourceValue('Search')}}" [(ngModel)]="searchText" />
        </div>
      </div>
    </div>
    <div class="pnl-block-body">
      <div class="tableStyle">
        <table class="table withoutborder">
          <tbody>
            <tr *ngFor="let item of fieldSource |filter:searchText">
              <td (click)="availableFieldsClick(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                <div [className]="item.isAdded ? 'text-less-important line-through' : 'text-less-important'">
                  {{item.name}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pnlBtnLayout">
    <a class="btnListLayout margin-bottom-10" (click)="addFieldItemToSelected()">
      <i class="fa fa-share"></i>
    </a>
    <a class="btnListLayout" (click)="removeItemFromSelectedField()">
      <i class="fa fa-reply"></i>
    </a>
  </div>
  <div class="pnl-block">
    <div class="pnl-block-header">
      <label>{{getResourceValue("SelectedFields")}}</label>
    </div>
    <div class="pnl-block-body">
      <div class="tableStyle">
        <table class="table withoutborder">
          <tbody>
            <tr *ngFor="let item of addedItemToMainList">
              <td (click)="slectedFieldClick(item)" [className]="item.isRowSelected ? 'rowSelected' : ''">
                <div class="text-less-important">{{item.name}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pnlBtnLayout">
    <a class="btnListLayout margin-bottom-10" (click)="upItem()">
      <i class="fa fa-share fa-rotate-270"></i>
    </a>
    <a class="btnListLayout" (click)="downItem()">
      <i class="fa fa-share fa-rotate-90"></i>
    </a>
  </div>

  <div class="pnl-block" *ngIf="isShowFieldConfiguration">
    <div class="pnl-block-header">
      <label>{{getResourceValue("FieldConfiguration")}}</label>
    </div>
    <div class="pnl-block-body">
      <div class="margin-left-5">
        <label class="control control--checkbox">
          {{getResourceValue("HideFields")}}
          <input type="checkbox" [(ngModel)]="isChecked" (change)="onChangeEvent($event)">
          <span class="control__indicator"></span>
        </label>
      </div>
      <div *ngIf="displaySimpleDetailsItem" class="margin-top-15">
        <label class="text-important margin-left-5">{{getResourceValue("Options")}}</label>
        <div class="tableStyle">
          <table class="table withoutborder margin-bottom-0">
            <tbody>
              <tr *ngFor="let item of pickListSource">
                <td>
                  <div [ngClass]="setCurrentColor(item.color)">{{item.text}}</div>
                </td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="actions">
                    <mat-icon>
                      ...
                    </mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <a class="dropdown-item" (click)="setFieldColor(item, 'blue-color-block')">
                      <span class="blue-color-block margin-right-10"></span>{{getResourceValue("Blue")}}
                    </a>
                    <a class="dropdown-item" (click)="setFieldColor(item, 'green-color-block')">
                      <span class="green-color-block margin-right-10"></span>{{getResourceValue("Green")}}
                    </a>
                    <a class="dropdown-item" (click)="setFieldColor(item, 'red-color-block')">
                      <span class="red-color-block margin-right-10"></span>{{getResourceValue("Red")}}
                    </a>
                    <a class="dropdown-item" (click)="setFieldColor(item, 'gray-color-block')">
                      <span class="gray-color-block margin-right-10"></span>{{getResourceValue("Gray")}}
                    </a>
                    <a class="dropdown-item" (click)="setFieldColor(item, 'yellow-color-block')">
                      <span class="yellow-color-block margin-right-10"></span>{{getResourceValue("Yellow")}}
                    </a>
                    <a class="dropdown-item" (click)="setFieldColor(item, 'orange-color-block')">
                      <span class="orange-color-block margin-right-10"></span>{{getResourceValue("Yellow")}}
                    </a>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="displayView">
        <div class="row">
          <div class="col-md-12">
            <label class="text-less-important">{{getResourceValue("SelectView")}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <select class="input-control" [(ngModel)]="selectedItemFromAddedList.defaultView"
              (change)="onViewChange($event)">
              <option *ngFor="let vals of listsource" [value]="vals.Id">{{vals.Name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="component-fields">
  <div>
    <label>{{getResourceValue("SortColumn")}}</label>
    <select class="input-control" [(ngModel)]="layoutInfo.viewLayoutDetails.defaultSortOrder.name">
      <option value=""></option>
      <option *ngFor="let item of addedItemToMainList" value={{item.name}}>
        {{item.name}}
      </option>
    </select>
  </div>
  <div>
    <label>{{getResourceValue("SortDirection")}}</label>
    <select class="input-control" [(ngModel)]="this.layoutInfo.viewLayoutDetails.defaultSortOrder.value">
      <option value=""></option>
      <option value="Desc">{{getResourceValue("Desc")}}</option>
      <option value="Asc">{{getResourceValue("Asc")}}</option>
    </select>
  </div>
</div>
