.form-block{
    background-color: #fff;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 10px 0px;
}
.form-block-row{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px;
}

/* .page-content{
    padding: 0px;
} */

.fields-content{
    padding: 0px;
    min-height: 100vh;
}

.tab-block{
    padding: 0px;
}


#loader
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    POSITION: ABSOLUTE;
    Z-INDEX: 1000;
}


.drag-start{
    background-color: brown;
}

.drop-start{
    background-color: chartreuse;
}