<!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
<div class="pages-nav-menu" *ngIf="authService.isLoggedIn">
<!-- <div class="pages-nav-menu"> -->
  <!-- <div class="nav-search">
    <div class="nav-search-wrapper">
      <span class="icon">
        <i class="fa fa-search"></i>
      </span>
      <input type="search" id="search" placeholder="Search..." [(ngModel)]="searchText" />
    </div>
  </div> -->
  <!-- <div class="msg-tips-wrap">
    <div class="msg-entrance ring">
      <span class="fa fa-bell fa-fw"></span>
    </div>
    <div class="msg-entrance email">
      <span class="fa fa-envelope fa-fw"></span>
    </div>
  </div> -->
</div>