<div class="text-header">{{getResourceValue("counter_displayname")}}</div>
<div class="detailsMenu">
    <div class="msg-tips-left">
      <div class="msg-entrance" ngbTooltip="{{editUpdate}}" (click)="saveOrUpdate()" container="body">
        <i class="fa fa-save"></i>{{getResourceValue("counter_operation_update")}}
      </div>
    </div>
</div>
<div class="page-content">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label>{{getResourceValue("counter_field_entity")}}</label>
                            <label class="text-mandatory margin-left-3">*</label>
                            <kendo-dropdownlist #list [data]="metaDataList" [filterable]="true" textField="displayName"
                                valueField="name" (valueChange)="onKendoDropdownChange($event)"
                                (filterChange)="onKendoDropdownSearchChange($event)">
                            </kendo-dropdownlist>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="description">{{getResourceValue("counter_field_description")}}</label><label
                                class="text-mandatory margin-left-3">*</label>
                            <input type="text" name="description" [(ngModel)]="counterObj.description"
                                class="input-control" #description="ngModel" maxlength="225">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="text">{{getResourceValue("counter_field_format")}}</label><label
                                class="text-mandatory margin-left-3">*</label>
                            <input type="text" name="text" [(ngModel)]="counterObj.text"
                                style="text-transform:uppercase" autocomplete="off" (keyup)="getFormatedText()"
                                class="input-control" #text="ngModel" maxlength="225">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="well-block text-center">
                  <label for="formatedText"
                         class="text-less-important">{{getResourceValue("counter_field_preview")}}</label>
                    <div for="formatedTextValue" class="text-large" [ngClass]="ftext==''?'validationMsg':''">
                        {{ftext==''?validationMsg:ftext.toUpperCase()}}
                    </div>
                </div>

            </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-6 col-xs-12">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="counterN">{{getResourceValue("counter_field_countern")}} </label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <input type="number" name="counterN" [(ngModel)]="counterObj.counterN"
                                    (keyup)="getFormatedText()" class="input-control"  min="1"
                                    step="1" (keypress)="keyPress($event)"  #counterN="ngModel"
                                    maxlength="225">
                            </div>
                            <div class="col-md-12 form-group">
                              <label for="counterO">{{getResourceValue("counter_field_countero")}} </label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <input type="number" name="counterO" [(ngModel)]="counterObj.counterO"
                                    (keyup)="getFormatedText()" (keypress)="keyPress($event)" class="input-control" #counterO="ngModel"
                                    maxlength="225">
                            </div>
                            <div class="col-md-12 form-group">
                              <label for="counterP">{{getResourceValue("counter_field_counterp")}} </label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <input type="number" name="counterP" [(ngModel)]="counterObj.counterP"
                                    (keyup)="getFormatedText()" (keypress)="keyPress($event)" class="input-control"  #counterP="ngModel"
                                    maxlength="225">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="resetCounterN">{{getResourceValue("counter_field_reset")}}</label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <select name="resetCounterN" class="input-control"
                                    [(ngModel)]="counterObj.resetCounterN" #resetCounterN="ngModel">
                                    <option *ngFor="let n of schedules" [ngValue]="n.internalId">{{n.text}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                              <label for="resetCounterO">{{getResourceValue("counter_field_reset")}}</label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <select name="resetCounterO" class="input-control"
                                    [(ngModel)]="counterObj.resetCounterO" #resetCounterO="ngModel">
                                    <option *ngFor="let o of schedules" [ngValue]="o.internalId">{{o.text}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group static">
                              <label for="resetCounterP">{{getResourceValue("counter_field_reset")}}</label><label
                                    class="text-mandatory margin-left-3">*</label>
                                <select name="resetCounterP" class="input-control"
                                    [(ngModel)]="counterObj.resetCounterP" #resetCounterP="ngModel">
                                    <option *ngFor="let p of schedules" [ngValue]="p.internalId">{{p.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
