<div class="page-content">
  <div class="card-block">
    <div class="card-row">
      <label>{{getResourceValue("metadata_field_layoutname")}}</label>
      <input type="text" [(ngModel)]="layoutInfo.name" class="input-control" />
    </div>
    <div class="card-row">
      <div class="text-less-important">{{getResourceValue("metadata_layouttype")}}</div>
      <div class="text-important margin-top-10">{{layoutInfo.layoutTypeName}}</div>
    </div>
    <div class="card-row" *ngIf="defaultLayout">
      <div class="text-less-important">{{getResourceValue("metadata_field_defaultlayout")}}</div>
      <div class="text-important margin-top-10">Yes</div>
    </div>
  </div>
  <div class="">
    <div class="margin-top-10 tab-child-item" *ngIf="layoutInfo.name">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <a class="btn-float" ngbTooltip="{{getResourceValue('metadata_operation_save')}}" container="body" (click)="updateLayoutDetails()">
        <i class="fa fa-floppy-o"></i>{{getResourceValue("metadata_operation_save")}}
  </a>
    <!-- <a class="btn-float margin-right-75" ngbTooltip="Preview" (click)="listPreviewPage()">
   
        <i class="fa fa-eye my-float"></i>
        <i class="fa fa-eye my-float"></i>
    </a>
    </a> -->
  </div>
</div>